extends _layout.jade

block pageinfo
    - var page = { title: 'webGL:360影片forIE11-使用valiant.jquery',desc:'看那可悲的兼容度',image:'http://lauraluo.github.io/webGlDemo/dist/images/360.gif' };

block page_main
    section.index
    script(type='text/javascript' src="js/app.js")
